

.btn {
    @include media-breakpoint-up(sm){
        padding:14px 47px;
    }
    color: $white;
    &-default {
        background-color: $default;
        &:hover {
            background-color: $black;
        }
    }
}

