.masthead {
    position: fixed;
    width: 100%;
    z-index: 10;
    &-info {
        color:  $text-header-info;
        font-size: $font-size-xxs;
        li:not(:first-child) {
            border-left:solid 1px #515563;
            padding-left: 5px;
            padding-right: 5px;
        }
        .link {
            color:  $text-header-info;
        }
        .icon {
            vertical-align: middle;
            // vertical-align: bottom;
            // background-color:$text-header-info;
            // &-envelope {
            //     width: 13px;
            //     height: 10px;
            // }
            // &-pin {
            //     width: 8px;
            //     height: 11px;
            // }
            &-facebook {
                // width: 6px;
                // height: 12px;
            }
        }
    } // masthead info ends
}

.info {
    .icon {  
        margin-right: 5px;
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}

// logo starts here 

#logo {
    max-width: 100px;
    @include media-breakpoint-down(sm){
        margin:0 auto;
        img {
            vertical-align: top;
        }
    }
    @include media-breakpoint-up(md){
        max-width: 230px;
    }
}

// logo ends here 


